@import "../../../shared/styles/colors";

.app-icon {
  display: flex;
  align-content: center;
  &--base-white {
    color: $base-white;
  }
  &--transparent {
    color: transparent;
  }
  &--base-black {
    color: $base-black;
  }
  &--primary-50 {
    color: $primary-50;
  }
  &--primary-100 {
    color: $primary-100;
  }
  &--primary-200 {
    color: $primary-200;
  }
  &--primary-300 {
    color: $primary-300;
  }
  &--primary-400 {
    color: $primary-400;
  }
  &--primary-500 {
    color: $primary-500;
  }
  &--primary-600 {
    color: $primary-600;
  }
  &--primary-700 {
    color: $primary-700;
  }
  &--primary-800 {
    color: $primary-800;
  }
  &--primary-900 {
    color: $primary-900;
  }
  &--primary-950 {
    color: $primary-950;
  }
  &--grey-50 {
    color: $grey-50;
  }
  &--grey-100 {
    color: $grey-100;
  }
  &--grey-200 {
    color: $grey-200;
  }
  &--grey-300 {
    color: $grey-300;
  }
  &--grey-400 {
    color: $grey-400;
  }
  &--grey-500 {
    color: $grey-500;
  }
  &--grey-600 {
    color: $grey-600;
  }
  &--grey-700 {
    color: $grey-700;
  }
  &--grey-800 {
    color: $grey-800;
  }
  &--grey-900 {
    color: $grey-900;
  }
  &--grey-950 {
    color: $grey-950;
  }
  &--green-50 {
    color: $green-50;
  }
  &--green-200 {
    color: $green-200;
  }
  &--green-500 {
    color: $green-500;
  }
  &--green-600 {
    color: $green-600;
  }
  &--yellow-50 {
    color: $yellow-50;
  }
  &--yellow-200 {
    color: $yellow-200;
  }
  &--yellow-500 {
    color: $yellow-500;
  }
  &--yellow-600 {
    color: $yellow-600;
  }
  &--red-50 {
    color: $red-50;
  }
  &--red-200 {
    color: $red-200;
  }
  &--red-500 {
    color: $red-500;
  }
  &--red-600 {
    color: $red-600;
  }
  &--success {
    color: $success;
  }
  &--error {
    color: $error;
  }
  &--warn {
    color: $warn;
  }
  &--info {
    color: $info;
  }
  &--dark-blue {
    color: $dark-blue;
  }
  &--small {
    width: 16px;
    height: 16px;
  }
  &--medium {
    width: 24px;
    height: 24px;
  }
  &--large {
    width: 35px;
    height: 35px;
  }
}
