$base-black: #000000 !default;
$base-white: #ffffff !default;

$primary-50: #eff9ff !default;
$primary-100: #dcf1fd !default;
$primary-200: #c1e7fc !default;
$primary-300: #96dafa !default;
$primary-400: #64c3f6 !default;
$primary-500: #40a8f1 !default;
$primary-600: #3190e7 !default;
$primary-700: #2275d3 !default;
$primary-800: #225fab !default;
$primary-900: #215087 !default;
$primary-950: #183253 !default;

$grey-25: #f9f8f8 !default;
$grey-50: #f3f3f3 !default;
$grey-100: #e2dfdf !default;
$grey-200: #c6c3c2 !default;
$grey-300: #a69e9e !default;
$grey-400: #8c8384 !default;
$grey-500: #776e6f !default;
$grey-600: #6b6365 !default;
$grey-700: #575152 !default;
$grey-800: #4c4748 !default;
$grey-900: #434042 !default;
$grey-950: #252324 !default;
$grey-bg: #fafafa;

$green-50: #dff5e5 !default;
$green-200: #8fc89f !default;
$green-500: #21853e !default;
$green-600: #1a6a32 !default;

$yellow-50: #fff7de !default;
$yellow-200: #ffe6b5 !default;
$yellow-500: #ffc247 !default;
$yellow-600: #d29f39 !default;

$red-50: #fbebea !default;
$red-200: #f1adaa !default;
$red-500: #db332a !default;
$red-600: #af2822 !default;

$success: #21853e !default;
$error: #db332a !default;
$warn: #ffc247 !default;
$info: #3a51d6 !default;

$dark-blue: #0c102b !default;
$home-background: #eff3f8;
